# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw datasets
data/raw/

# Processed datasets
data/processed/
data/interim/

# OS files
.DS_Store

# IDE settings
.vscode/

# Environment files
*.env

# Model files
*.pkl
*.joblib
*.keras
*.h5

# Temporary files
*.tmp